<template>
<div>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="/cdn-cgi/l/email-protection#80e3efeef4e1e3f4c0e5f8e1edf0ece5aee3efed"><span class="__cf_email__" data-cfemail="7d1e1213091c1e093d18051c100d1118531e1210">info@edubora.co.ke</span></a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+254717791504</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://api.whatsapp.com/send?phone=0717791504&text=Hello,Edubora inquiry" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
                <a href="https://twitter.com/Edubora2" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://web.facebook.com/edubora.kcpe.kcse.revision" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/edubora_academy/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/edubora/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCmcaTejXrwbW-LCO8lOzc9w" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>

            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <!--<h1><a href="/">Eterna</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                 <a href="/"><img src="/images/logo3.jpeg" alt="" class="img-fluid"></a>
            </div>
            <div>
                    <div class="topnav">
                    <div class="search-container d-flex">
                        <button class="btn btn-outline-secondary btn-sm" onclick="openSearch()" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    </div>

            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a  class="active" href="/">Home</a></li>
                    <li v-for="cat in category" class="dropdown"><a v-on:click="routerPage2(cat.id)" href="#"><span>{{cat.name}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li v-for="subject in cat.darasa"><a v-on:click="routerPage(subject.id)" href="#">{{subject.name}}</a></li>
                        </ul>
                    </li>
                    <li><a v-on:click="post()" href="#">Discussion board</a></li>
                    <li ><a href="#" ><button v-on:click="showModal()"  class="btn btn-info btn-sm"><i class="fa fa-shopping-cart mr-5"></i>Cart<span class="badge text-warning" id="item">({{item}})</span></button> </a></li>
                    <li v-if="auth!=='yes'"><a href="#"><button v-on:click="login()" class="btn btn-primary btn-sm"><i class="fa fa-sign-in mr-5"></i>Sign in</button> </a></li>
                    <li v-if="auth!=='yes'"><a href="#"><button v-on:click="register()" class="btn btn-warning btn-sm "><i class="fa fa-user mr-5"></i>Sign up</button> </a></li>
                    <li v-if="auth==='yes'"><router-link :to="{name:'home'}" href="#"><button class="btn btn-warning btn-sm  "><i class="fa fa-home"></i>Dashboard</button> </router-link></li>
                    <li  v-if="auth==='yes'" class="dropdown"><a style="color: #e96b56;font-size: 15px;" href="#"><span>{{name}}</span> <i class="fa fa-user"></i></a>
                        <ul>
                            <li><router-link :to="{name:'profile'}"  href="#">Wallet</router-link></li>
                            <li><router-link :to="{name:'account'}"  href="#">Profile</router-link></li>
                            <li><a v-on:click="logout()" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

<router-view></router-view>


    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-shopping-cart text-success2"></i></h5>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">
                        <thead>
                        <th>#</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr v-for="(c,index) in cart">
                            <td>{{index+1}}</td>
                            <td>{{c.title}}</td>
                            <td>1</td>
                            <td>Ksh {{formatPrice(c.amount)}}</td>
                            <td><a v-on:click="removeItem(index)" class="btn btn-danger fa fa-close"></a></td>
                        </tr>
                        </tbody>

                    </table>
                    <div>Total price: Ksh <span class="total-cart">{{formatPrice(total)}}</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" v-on:click="closeModal()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" v-on:click="checkOut()">Place Order</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="float cart" v-on:click="showModal()">
        <i class="fa fa-shopping-cart my-float" ><span class="badge text-warning" id="item2">({{item}})</span></i>
    </a>

    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form action="#" v-on:submit.prevent="routeSearch()" method="post">
                <input type="text" placeholder="Search by title" v-model="search.keyword" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                auth:'',
                category:[],
                total:'0',
                item:'0',
                cart:[],
                search:{},
                message:{data:[]}
            }
        },
        created(){
            this.getData();
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
            }
        },

        methods: {
            routeSearch(){
                localStorage.setItem('keyword',this.search.keyword);
                this.$router.push({name: 'search'});
                this.$router.go(this.$router.currentRoute)
            },
            checkOut(){
                if(this.cart.length<=0){
                    this.$toast.open({message: 'Sorry, your cart is empty', type: 'warning', position: 'top'});
                }else if(this.auth!=='yes'){
                    this.$toast.open({message: 'Please login in order to proceed', type: 'warning', position: 'top'});
                    this.$router.push({name: 'login'});
                    $("#cart").modal("hide");
                }else{
                    this.message.data=this.cart;
                    $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                    let uri =this.proxyUrl+`placeOrder`;
                    this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                        $('.modal-dialog').loader('hide');
                        if(response.data.status){
                            this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                            $("#cart").modal("hide");
                             localStorage.removeItem('item');
                             localStorage.removeItem('cart');
                            this.$router.push({name: 'invoice', params: { id: response.data.id }});

                        }else{
                            this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        }

                    }).catch(error => {
                        $('.modal-dialog').loader('hide');
                        if (error.response.status === 401) {
                            this.$router.push({name: 'login'});
                            clearSession();
                        }else{
                            this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                        }
                    });
                }
            },
            closeModal(){
                $("#cart").modal("hide");
            },
            removeItem(id){
                this.cart.splice(id, 1);
                localStorage.setItem('cart',JSON.stringify(this.cart));
                addToCart(this.cart.length);
                this.calcTotal();
                this.$toast.open({message: 'Item removed from cart successfully', type: 'info', position: 'top'});

            },
            showModal(){
                this.cart=JSON.parse(localStorage.getItem('cart'));
                this.total=this.cart.reduce((acc, item) => +acc + +item.amount, 0);
                $("#cart").modal("show");
            },
            calcTotal(){
                this.total=this.cart.reduce((acc, item) => +acc + +item.amount, 0);
            },
            getData() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },
            routerPage2(id){
                this.$router.push({name: 'shop_category', params: { id: id }});
                this.$router.go(this.$router.currentRoute)
            },
            routerPage(id){
                this.$router.push({name: 'shop', params: { id: id }});
                this.$router.go(this.$router.currentRoute)
            },
            login(){
                this.$router.push({name: 'login'});
                this.$router.go(this.$router.currentRoute)
            },
            register(){
                this.$router.push({name: 'register'});
                this.$router.go(this.$router.currentRoute)
            },
            post(){
                this.$router.push({name: 'posts'});
                // this.$router.go(this.$router.currentRoute)
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
