<template>


            <div class="row justify-content-center">
                <div class="col-sm-12 d-flex">
                    <ul id="portfolio-flters">
                        <li data-filter="*" :class="{ 'filter-active ': $route.path == '/home' }"  v-on:click="home()">Dashboard</li>
                        <li data-filter=".filter-app" :class="{ 'filter-active ': $route.path == '/orders' }" v-on:click="orders()">Orders</li>
                        <li data-filter=".filter-app" :class="{ 'filter-active ': $route.path == '/downloads' }"  v-on:click="downloads()">Downloads</li>
                            <li v-if="user_type==='teacher'" :class="{ 'filter-active ': $route.path == '/myitems' }" data-filter=".filter-app" v-on:click="myitems()">My items</li>
                            <li v-if="user_type==='teacher'" :class="{ 'filter-active ': $route.path == '/upload' }" data-filter=".filter-app" v-on:click="upload()">Sell item</li>
                    <li data-filter=".filter-app" v-if="user_type==='teacher'" :class="{ 'filter-active ': $route.path == '/logs' }" v-on:click="Logs()">Logs</li>
                    <li data-filter=".filter-app" v-on:click="shop()">Shop now</li>
                        
                    </ul>
                </div>
            </div>

</template>
<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                auth:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
            }
        },
        methods: {

            myitems(){
                this.$router.push({name: 'myitems'});
            },
            home(){
                this.$router.push({name: 'home'});
            },
            orders(){
                this.$router.push({name: 'orders'});
            },
            upload(){
                this.$router.push({name: 'upload'});
            },
            shop(){
                this.$router.push({name: 'shopping'});
            } ,
            downloads(){
                this.$router.push({name: 'downloads'});
            },
             Logs(){
                this.$router.push({name: 'logs'});
            } 

        }
    }
</script>
