<template>
    <div>


        <section class="about-area mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="full-sec-content">
                            <div class="sec-title style-two">
                                <h2>About Edubora</h2>
                            </div>
                            <p>Edubora is an e-learning platform that connects learners with all resources they require to reach their full potential. We have unlimited educational contents from the country’s greatest teachers, and from the best schools </p>
                            <p>Whether it’s preparing learners for national exams and professional exams (KCPE KCSE, CPA, ACCA, ABE, CISA, etc.), or improving on skills, or academic ability, we have got you covered!</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="about-img"> <img src="/landing/images/about-img.jpg" alt="" data-popupalt-original-title="null" title=""></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-sec mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                            <!--Single Services Section -->
                            <div class="single-item">
                                <div class="fig_caption">
                                    <div class="icon"><i class="fa fa-book"></i> </div>
                                    <div class="details">
                                        <h3>Mission</h3>
                                        <p> Our mission is to connect learners with all necessary resources that they need to reach their full potential</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--Single Services Section -->
                        <div class="single-item">
                            <div class="fig_caption">
                                <div class="icon"><i class="fa fa-book"></i> </div>
                                <div class="details">
                                    <h3>Vission</h3>
                                    <p> fdvdfvdfbdfbdfbdfbdf</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--End Testmonials Section -->
    </div>
</template>



