<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">

                <section id="team" class="team">
                    <div class="container">

                        <div class="row justify-content-center php-email-form">
                            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                                <div class="member">
                                    <div class="avatar"><i class="fa fa-user"></i></div>
                                    <h4>{{message.name}}</h4>
                                    <span>{{message.email}}</span>
                                    <span>{{message.phone}}</span>
                                    <p>
                                        Large number of contents ranging from books, revision materials, topical assignments, and so on plus their marking schemes
                                    </p>
                                    <div class="">
                                        <a class="btn btn-primary" v-on:click="switchPage('info')">Personal info <i class="fa fa-edit ml-5"></i></a>
                                        <a class="btn btn-warning" v-on:click="switchPage('pass')">Password <i class="fa fa-edit ml-5"></i></a>
                                    </div>
                                    <form method="post" v-on:submit.prevent="updateInfo()" v-if="page==='info'">
                                        <div class="form-group mt-3">
                                            <input type="text" class="form-control" name="subject" v-model="message.name" id="subject" placeholder="Name" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                                        </div>
                                        <div class="form-group mt-3" v-if="message.user_type!=='teacher'">
                                            <input type="text" class="form-control" name="subject" v-model="message.phone" id="subject" placeholder="Phone" required>
                                        </div>
                                        <div class="form-group mt-3" v-if="message.user_type==='teacher'">
                                            <input type="text" class="form-control" name="subject" v-model="message.phone" id="subject" placeholder="Phone" disabled required>
                                        </div>
                                        <div class="row mt-5">
                                            <button class="btn btn-warning btn-block" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <form method="post" v-on:submit.prevent="changePassword()" v-if="page==='pass'">
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.currentpass" id="subject" placeholder="Current password" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.password" id="subject" placeholder="New password" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.repass" id="subject" placeholder="Confirm password" required>
                                        </div>
                                        <div class="row mt-5">
                                           <button class="btn btn-warning btn-block" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                         
                        
                        </div>
                    </div>
                </section><!-- End Team Section -->

            </div>
        </div>
    </section>
</template>
<script>

    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message2:{charges:'0',amount_to_pay:'0',user_id:'',withdraw_charges:'0'},
                message:{balance:'0'},
                info:{phone:'',deduction:'0'},
                display:'false',
                deductions:[],
                wallet:'0.00',
                display:'false',
                 page:'',
            }
        },
        created(){
                this.user();
        },
        methods: {
           
             switchPage(page){
                this.page=page;
            },
            
            changePassword(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.page='';
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            updateInfo(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`updateInfo`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                   if(response.data.status){
                       this.page='';
                       this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                       this.user();
                   }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            user() {
                let uri =this.proxyUrl+`user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    this.wallet=response.data.wallet;
                }).catch(error => {
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },




    }

</script>
