<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">
                <div class="row justify-content-center">

                    <div class="col-sm-4">
                        <form action="#" method="post" role="form" class="php-email-form mt-5" v-on:submit.prevent="confirm()">
                            <div class="avatar"><i class="fa fa-user"></i></div>
                            <h6 class="text-center">Hello <span class="text-success2">{{name}} </span>. Enter the code sent to <span class="text-success2">{{phone}}</span></h6><hr>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" v-model="message.code" id="subject" placeholder="Code" required>
                            </div>

                            <div class="my-3">

                            </div>

                            <div class="row">
                                <div class="text-center"><button type="submit">Verify</button></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <router-link :to="{name:'forget'}" href="#" class="ml-5">Send again?</router-link>
                                </div>
                                <!--<div class="col-sm-6">-->
                                <!--<a href="#">Create account</a>-->
                                <!--</div>-->
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>
<script>

    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                id:'',
                phone:'',
                name:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.id=localStorage.getItem('id');
            this.phone=localStorage.getItem('phone');
        },
        methods: {
            confirm() {
                this.message.id=this.id;
                this.message.phone=this.phone;
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`confirm`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'reset'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },

        },



    }

</script>
