<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">
                <div class="row justify-content-center">

                    <div class="col-sm-4">
                        <form action="#" method="post" role="form" class="php-email-form mt-5" v-on:submit.prevent="getCode()">
                            <div class="avatar"><i class="fa fa-user"></i></div>
                            <h6 class="text-center">Forget password</h6><hr>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                            </div>

                            <div class="my-3">

                            </div>

                            <div class="row">
                                <div class="text-center"><button type="submit">Get code</button></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <router-link :to="{name:'login'}" href="#" class="ml-5">login</router-link>
                                </div>
                                <!--<div class="col-sm-6">-->
                                <!--<a href="#">Create account</a>-->
                                <!--</div>-->
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>
<script>

    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        methods: {
            getCode() {
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getCode`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        localStorage.setItem('name',response.data.user.name);
                        localStorage.setItem('id',response.data.user.id);
                        localStorage.setItem('phone',response.data.user.phone);
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'confirm'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },

        },



    }

</script>
