<template>
    <section id="portfolio" class="portfolio mt-3">
    <div class="container">
        <div class="card2">

<Menu></Menu>
            <!-- ======= Counts Section ======= -->
            <section id="counts" class="counts ">
                <div class="container">
                    <h5 class="text-center">Welcome. <span class="text-success2">{{name}}</span></h5>
                    <p class="text-center">From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</p>

                    <div class="row no-gutters">

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-shop"></i>
                                <span  >{{message.orders}}</span>
                                <p><strong>Orders</strong> </p>
                                <router-link :to="{name:'orders'}" href="#">View &raquo;</router-link>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-download"></i>
                                <span  >{{message.downloads}}</span>
                                <p><strong>Downloads</strong> </p>
                                <router-link :to="{name:'downloads'}" href="#">View &raquo;</router-link>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-cash"></i>
                                <span  >{{message.transactions}}</span>
                                <p><strong>Transactions</strong> </p>
                                <router-link to="/logs" href="#">View &raquo;</router-link>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-book"></i>
                                <span  >{{message.items}}</span>
                                <p><strong>Items</strong> </p>
                                <router-link :to="{name:'myitems'}" href="#">View &raquo;</router-link>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Counts Section -->


        </div>

        </div>

    </section>
</template>
<script>
    import  Menu from '../view/Menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                category:[],
                name:'',
                user_type:'',
                auth:'',
            }
        },
        created(){
            this.getData();
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
        },
        methods: {
            getData() {
                let uri =this.proxyUrl+`getClientDashboard`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },

        },
    }

</script>
