<template>
<div>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <!--<div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">-->
                    <div class="carousel-item active" style="background: url(/images/bg2.png);background-repeat: no-repeat;background-size: cover;">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Edubora</span></h2>
                                <p class="animate__animated animate__fadeInUp">Edubora is an e-learning platform that connects learners with all resources they require to reach their full potential. We have unlimited educational contents from the country’s greatest teachers, and from the best schools .</p>
                                <router-link :to="{name:'shopping'}" href="#" class="btn-get-started animate__animated animate__fadeInUp">Shop now</router-link>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated fanimate__adeInDown">Boost <span> your Grades</span></h2>
                                <p class="animate__animated animate__fadeInUp">
                                    End the stress of not giving your best in RATs, CATs, and Exams. Get quality study notes, revision papers,
                                    topical questions, and their marking schemes to prepare you for exams
                                    .</p>
                                <router-link :to="{name:'shopping'}" href="#"  class="btn-get-started animate__animated animate__fadeInUp">Get started</router-link>
                            </div>
                        </div>
                    </div>

                    <!--&lt;!&ndash; Slide 3 &ndash;&gt;-->
                    <!--<div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">-->
                        <!--<div class="carousel-container">-->
                            <!--<div class="carousel-content">-->
                                <!--<h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>-->
                                <!--<p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>-->
                                <!--<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Section ======= -->
        <section id="featured" class="featured">
            <div class="container">

                <div class="row" >
                    <div class="col-sm-3 mb-2" v-for="cat in category">
                        <a  v-on:click="routerPage(cat.id)" href="#">
                        <div class="icon-box">
                            <i class="bi bi-book"></i>
                            <h3><a href="">{{cat.name}}</a></h3>
                            <p>{{cat.description}}</p><hr>
                            <a href="#">View</a>
                        </div>
                        </a>
                    </div>

                </div>

            </div>
        </section><!-- End Featured Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="/images/bg2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>Fit More Learning into your day.</h3>
                        <p class="font-italic">
                            A little bit of spare time is an opportunity for progress. That is why Edubora offers you access to study materials (whether for pre-primary, primary, secondary, or advanced levels such as professional courses, or upskilling courses and certifications)
                        </p>
                        <h3 >Why Edubora?</h3>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> Large number of contents ranging from books, revision materials, topical assignments, and so on plus their marking schemes.</li>
                            <li><i class="bi bi-check-circle"></i> Numerous teachers offering their study materials at low cost.</li>
                            <li><i class="bi bi-check-circle"></i>Study help- Access Discussion Room where you can get free help in solving an academic challenge (just show others the effort you have made, and where you are stuck, and they will be there to help!), or help peers who are stuck in tackling their challenge .</li>
                            <li><i class="bi bi-check-circle"></i> Free career guidance, consultation and support
                                Enjoy your learning journey with Edubora!.</li>
                        </ul>
                        <h3>Disclaimer</h3>
                        <p>Edubora Honor Code does not allow cheating, plagiarism, or other violations of academic conducts and integrity.</p>
                        <!--<p class="text-success2">-->
                            <!--Find books, notes, revision papers and their marking schemes, assignments and other learning materials for all subjects, all classes-->
                        <!--</p>-->
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->



    </main><!-- End #main -->




</div>
</template>

<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:{},
                loader:'false',
                category:[],
            }
        },
        created(){
            this.getCategory();
            // this.getData();
        },
        methods: {
            routerPage(id){
                this.$router.push({name: 'shop_category', params: { id: id }});
            },
            getCategory() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {

                });

            },
            getData() {
                let uri =this.proxyUrl+`getClientIndexPage`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.books=response.data.books;
                }).catch(error => {

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>

