<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">
    <div class="row justify-content-center">

        <div class="col-sm-6">
            <form action="#" method="post" role="form" class="php-email-form mt-5" v-on:submit.prevent="login()">
                <div class="avatar"><i class="fa fa-user"></i></div>
                <h6 class="text-center">Login to your account</h6><hr>
                <div class="form-group mt-3">
                    <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                </div>
                <div class="form-group mt-3">
                    <input type="password" class="form-control" name="subject" v-model="message.password" id="subject" placeholder="Password" required>
                </div>
                <div class="form-group form-check mt-3 mb-5">
                    <input type="checkbox" class="form-check-input mr-5" id="exampleCheck1" >
                    <label class="form-check-label" for="exampleCheck1"><a  href="#">   Keep me signed in</a></label>
                </div>
                <div class="row">

                        <button class="btn btn-warning btn-block" type="submit">Sign in</button>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <router-link :to="{name:'forget'}" href="#" class="ml-5">Forget password?</router-link>
                    </div>
                    <!--<div class="col-sm-6">-->
                        <!--<a href="#">Create account</a>-->
                    <!--</div>-->
                </div>

            </form>
        </div>

    </div>
            </div>
        </div>
    </section>
</template>
<script>

    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                showMessage:'no',
            }
        },
        methods: {
            switchUserType(val){
                this.message.user_type=val;
            },
            login() {
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='unapproved'){
                            this.$toast.open({message: 'Account has not approved', type: 'error', position: 'top'});
                        }else if(response.data.user.status==='Inactive'){
                            this.$toast.open({message: 'Unauthorized access', type: 'error', position: 'top'});
                        }else {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('email', response.data.user.email);
                            this.$toast.open({message: 'Success sign in!', type: 'success', position: 'top'});
                            setTimeout(() => {
                                this.$router.push({name: 'index'});
                                this.$router.go(this.$router.currentRoute)
                            }, 2000);
                        }
                        // this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    localStorage.removeItem('token')
                });

            },

        },



    }

</script>
