<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">

                <section id="team" class="team">
                    <div class="container">

                        <div class="row justify-content-center php-email-form">
                            <!-- <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                                <div class="member">
                                    <div class="avatar"><i class="fa fa-user"></i></div>
                                    <h4>{{message.name}}</h4>
                                    <span>{{message.email}}</span>
                                    <span>{{message.phone}}</span>
                                    <p>
                                        Large number of contents ranging from books, revision materials, topical assignments, and so on plus their marking schemes
                                    </p>
                                    <div class="">
                                        <a class="btn btn-primary" v-on:click="switchPage('info')">Personal info <i class="fa fa-edit ml-5"></i></a>
                                        <a class="btn btn-warning" v-on:click="switchPage('pass')">Password <i class="fa fa-edit ml-5"></i></a>
                                    </div>
                                    <form method="post" v-on:submit.prevent="updateInfo()" v-if="page==='info'">
                                        <div class="form-group mt-3">
                                            <input type="text" class="form-control" name="subject" v-model="message.name" id="subject" placeholder="Name" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                                        </div>
                                        <div class="form-group mt-3" v-if="message.user_type!=='teacher'">
                                            <input type="text" class="form-control" name="subject" v-model="message.phone" id="subject" placeholder="Phone" required>
                                        </div>
                                        <div class="form-group mt-3" v-if="message.user_type==='teacher'">
                                            <input type="text" class="form-control" name="subject" v-model="message.phone" id="subject" placeholder="Phone" disabled required>
                                        </div>
                                        <div class="row mt-5">
                                            <button class="btn btn-warning btn-block" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <form method="post" v-on:submit.prevent="changePassword()" v-if="page==='pass'">
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.currentpass" id="subject" placeholder="Current password" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.password" id="subject" placeholder="New password" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="password" class="form-control" name="subject" v-model="message.repass" id="subject" placeholder="Confirm password" required>
                                        </div>
                                        <div class="row mt-5">
                                           <button class="btn btn-warning btn-block" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->

                            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                                <div class="member">
                                    <div class="avatar"><i class="fa fa-money"></i></div>
                                    <h1>Ksh {{formatPrice(wallet)}}</h1>
                                    <p>
                                        Large number of contents ranging from books, revision materials, topical assignments, and so on plus their marking schemes
                                    </p>
                                    <div class="">
                                        <a class="btn btn-warning" v-on:click="getWithdrawalCode()">Withdraw <i class="fa fa-money ml-5"></i></a>
                                        <!--<a class="btn btn-info" v-on:click="showModal()">Buy Airtime <i class="fa fa-credit-card ml-5"></i></a>-->
                                    </div><hr>

                                    <div v-if="display==='true'">
                                    <form v-on:submit.prevent="pushwithdrawal()">
                                    <div class="alert alert-info" role="alert">
                                       <p class="text-center">A six digit verification code has been sent to <b>{{info.phone}}</b>.Please enter the code</p>
                                    </div>
                                     <div class="form-group mt-3">
                                        <input id="Full Name" v-model="message2.code" name="Full Name" placeholder="OTP code" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="number"  v-model="message2.amount" v-on:keyup="CalcultteCharges()" class="form-control"  id="inputEmail4" placeholder="Amount to withdraw" required>
                                    </div>
                                        <div class="container">
                                            <table class="table table-m">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="data in deductions">
                                                    <td>{{data.name}}</td>
                                                    <td>{{data.percent}}%</td>

                                                </tr>
                                                <tr>
                                                    <td>Deductions</td>
                                                    <td> Ksh.{{formatPrice(message2.charges)}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Withdrawal charges</td>
                                                    <td>Ksh.{{formatPrice(message2.withdraw_charges)}}</td>
                                                </tr>
                                                <tr class="text-success">
                                                    <td>Amount to receive</td>
                                                    <td>Ksh.{{formatPrice(message2.amount_to_pay)}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <div class="">
                                            <button type="submit" class="btn btn-primary btn-block">Withdraw</button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </section><!-- End Team Section -->

            </div>
        </div>
    </section>
</template>
<script>

    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message2:{charges:'0',amount_to_pay:'0',user_id:'',withdraw_charges:'0'},
                message:{balance:'0'},
                info:{phone:'',deduction:'0'},
                display:'false',
                deductions:[],
                wallet:'0.00',
                display:'false',
            }
        },
        created(){
                this.user();
        },
        methods: {
            CalcultteCharges(){
                if(this.message2.amount>=0 && this.message2.amount<=1000){
                    this.message2.withdraw_charges='25';
                }else{
                    this.message2.withdraw_charges='35';
                }
                    this.message2.charges=(+this.info.deduction * +this.message2.amount)/100;
                    this.message2.amount_to_pay=+this.message2.amount- +this.message2.charges-+this.message2.withdraw_charges;
            },
            getWithdrawalCode(){
                this.display='false';
                this.message2={charges:'0',amount_to_pay:'0',user_id:''};
                $('.php-email-form').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getWithdrawalCode`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.info.phone=response.data.phone;
                        this.info.deduction=response.data.deduction;
                        this.display='true';
                        this.message2.user_id=response.data.user_id;
                        this.deductions=response.data.deductions;
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
           
            pushwithdrawal(){
                $('.php-email-form').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =`/api/auth/pushwithdrawal`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        setTimeout(() => {
                            this.$router.go();
                        }, 3000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'We are not able to submit your request.Please try again', type: 'error', position: 'top'});
                    }
                });
            },
            
            changePassword(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.page='';
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            updateInfo(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`updateInfo`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                   if(response.data.status){
                       this.page='';
                       this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                       this.user();
                   }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            user() {
                let uri =this.proxyUrl+`user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    this.wallet=response.data.wallet;
                }).catch(error => {
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },




    }

</script>
