<template>
    <section id="contact" class="contact mt-5">
        <div class="container">
            <div class="card2">
                <div class="row justify-content-center">

                    <div class="col-sm-6">
                        <form action="#" method="post" role="form" class="php-email-form mt-5" v-on:submit.prevent="register()">
                            <div class="avatar"><i class="fa fa-user"></i></div>
                            <h6 class="text-center">Create Account</h6><hr>
                            <div class="col-lg-12 mb-3">
                                <label>Select Account type </label>
                                <div class="col-sm-12 col-sm-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-warning btn-block active"  @click="switchUserType('client')">
                                            <input type="radio" value="APA" style="display: none;" v-model="message.style" id="APA" checked> <span class="fs-16">CLIENT ACCOUNT</span>
                                        </label>
                                        <label class="btn btn-warning btn-block" @click="switchUserType('teacher')">
                                            <input type="radio" name="style" style="display: none;" v-model="message.style" id="Havard"> <span class="fs-16">TEACHERS ACCOUNT</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mt-3" v-if="message.user_type==='teacher'">
                                <label class="info-title" for="exampleInputEmail1">Upload your Certificate </label>
                                <input type="file"  v-on:change="onFileChange" class="form-control unicase-form-control text-input" id="exampleInputEmail1" required>
                            </div>
                            <div class="form-group mt-3" v-if="message.user_type==='teacher'">
                                <input type="text" class="form-control" name="subject" v-model="message.institution" id="subject" placeholder="Institution" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" v-model="message.name" id="subject" placeholder="Name" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                            </div>
                            <div class="form-group mt-3">
                                <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <div class="form-group mt-3">
                                <input type="password" class="form-control" name="subject" v-model="message.password" id="subject" placeholder="Password" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="password" class="form-control" name="subject" v-model="message.repass" id="subject" placeholder="Confirm Password" required>
                            </div>
                            <div class="my-3">

                            </div>
                            <div class="form-group form-check mt-3 mb-5">
                                <input type="checkbox" class="form-check-input mr-5" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1"><a  href="/terms.pdf">   I agree to the terms and conditions</a></label>
                            </div>
                            <div class="row">
                              <button class="btn btn-warning btn-block" type="submit">Create account</button>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <router-link :to="{name:'login'}" href="#" class="ml-5">Login</router-link>
                                </div>
                                <!--<div class="col-sm-6">-->
                                <!--<a href="#">Create account</a>-->
                                <!--</div>-->
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    user_type:'client'
                },
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                showMessage:'no',
                image:''
            }
        },
        methods: {
            onFileChange(e){
                this.image = e.target.files[0];
            },
            switchUserType(val){
                this.message.user_type=val;
            },
            register() {
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`signup`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='unapproved'){
                            this.$toast.open({message: 'Success sign up', type: 'success', position: 'top'});
                            this.showMessage='yes';
                            this.message={};
                        }else {

                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'success sign up', type: 'success', position: 'top'});
                            setTimeout(() => {
                                this.$router.push({name: 'index'});
                                this.$router.go(this.$router.currentRoute)
                            }, 2000);
                        }

                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    this.$toast.open({message: 'System error', type: 'error', position: 'top'});
                    localStorage.removeItem('token')
                });

            },

        },


    }

</script>
