<template>
    <section id="contact" class="contact mt-5">
    <div class="container">
        <div class="card2">

            <div class="container ">
                <div class="container-fluid mt-100 ">

                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <div class="sidebar-item search-form mr-5">
                                    <form action="#">
                                        <input type="text" placeholder="Filter by title or content"  v-model="message.filterval" v-on:keyup="filter()">
                                        <button type="button"><i class="bi bi-filter"></i></button>
                                    </form>
                                </div>
                                <div class="sidebar-item search-form ml-5">
                                <router-link :to="{name:'post'}" class="btn btn-warning">Post</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" v-for="data in posts">
                        <div class="col-sm-6">
                            <div class="card mb-4 ">
                                <div class="card-header">
                                    <div class="media flex-wrap  align-items-center"> <img src="/images/index.png" class="d-block ui-w-40 rounded-circle" alt="" >
                                        <div class="media-body ml-3 float-sm-start"> <a href="#" data-abc="true">{{data.auther}}</a>
                                            <div class="text-muted small">
                                                <timeago :datetime="data.time" :auto-update="60"></timeago>
                                            </div>
                                        </div>
                                        <div class="text-muted float-end small ml-3">
                                            <div>Cat: <strong>{{data.category}}</strong></div>
                                            <div><strong>134</strong> posts</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <p><span v-html="data.post"></span></p>

                                </div>
                                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true">
                                        <i class="fa fa-comment text-danger"></i>&nbsp; <span class="align-middle">445</span> </a></div>
                                    <div class="px-4 pt-3"> <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-comment"></i> Comment</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                content: "<h1>Some initial content</h1>",
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                posts:[],
                posts2:[],

            }
        },
        created(){
            this.getData();
        },
        methods: {
            getData() {
                let uri =this.proxyUrl+`getPosts`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.posts=response.data.posts;
                    this.posts2=response.data.posts;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.posts=this.posts2;
                }else{
                    let books =  this.posts2.filter(function(product) {
                        return product.post.toLowerCase().includes(filterval.toLowerCase()) || product.category.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.posts=books;
                }
            },

        },
    }

</script>
