<template>
    <section id="portfolio" class="portfolio mt-3">
        <div class="container">
            <div class="card2">

                <section id="contact" class="contact mt-5">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <form action="#" method="post" role="form" class="php-email-form " v-on:submit.prevent="post()" enctype="multipart/form-data">
                                <h5>Post your question or article</h5><hr>

                                <div class="form-group mt-3">
                                    <label class="info-title" for="exampleInputEmail1">Category </label>
                                    <select class="form-control" required v-model="message.category_id" v-on:change="loadSubjects()">
                                        <option disabled selected>Select category of your item</option>
                                        <option v-for="data in category " :key="data.id" v-bind:value="data.id" >{{data.name}} </option>
                                    </select>
                                </div>



                                <div class="form-group mt-3">
                                    <label class="info-title" for="exampleInputEmail1">Write a post </label>
                                    <vue-editor v-model="message.post"></vue-editor>
                                </div>
                                <div class="row mt-5">
                                    <div class="text-center"><button type="submit">Submit</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </section>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                content: "<h1>Some initial content</h1>",
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                category:[],
                subjects:[],
                darasa:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
            }
        },
        created(){
            this.getData();
        },
        methods: {
            post(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
               this.getTimeIn();
                let uri =this.proxyUrl+`post`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.php-email-form').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.message={};
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            loadSubjects(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getCategorySubjects`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.subjects=response.data.subjects;
                    this.darasa=response.data.darasa;
                    $('.php-email-form').loader('hide');
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getData() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getTimeIn() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.time=dateTime;
            },

        },
    }

</script>
