<template>
    <div>
        <div class="body-content outer-top-xs">
            <div class='container'>
                <div class='row single-product justify-content-center'>

                    <div class='col-md-12'>
                        <div class="detail-block">
                            <div class="row  ">
                                <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                                    <div class="product-item-holder size-big single-product-gallery small-gallery">

                                        <div id="owl-single-product">
                                            <div class="single-product-gallery-item" id="slide1">
                                                <a data-lightbox="image-1" data-title="Gallery" href="/images/mpesa.png">
                                                    <img class="img-responsive" alt="" src="/images/mpesa.png" data-echo="/images/mpesa.png" />
                                                </a>
                                            </div><!-- /.single-product-gallery-item -->

                                        </div><!-- /.single-product-slider -->


                                    </div><!-- /.single-product-gallery -->
                                    <form class="register-form" role="form">
                                        <div class="form-group">
                                            <label class="info-title" for="exampleInputEmail1">Name <span>*</span></label>
                                            <input type="text" v-model="message.name" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="exampleInputEmail1">Email <span>*</span></label>
                                            <input type="text" v-model="message.email" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="exampleInputEmail1">Phone <span>*</span></label>
                                            <input type="text" v-model="message.phone_address" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                                        </div>
                                    </form>
                                </div><!-- /.gallery-holder -->
                                <div class='col-sm-6 col-md-7 product-info-block'>
                                    <div class="product-info">
                                        <h1 class="name">{{books.title}}</h1>

                                        <div class="rating-reviews m-t-20">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="rating rateit-small"></div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="reviews">
                                                        <a href="#" class="lnk">(13 Reviews)</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.rating-reviews -->

                                        <div class="stock-container info-container m-t-10">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="stock-box">
                                                        <span class="label">Availability :</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="stock-box">
                                                        <span class="value">In Stock</span>
                                                    </div>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.stock-container -->

                                        <div class="description-container m-t-20">
                                            {{books.description}}
                                        </div><!-- /.description-container -->

                                        <div class="price-container info-container m-t-20">
                                            <div class="row">


                                                <div class="col-sm-6">
                                                    <div class="price-box">
                                                        <span class="price">Ksh {{formatPrice(books.amount)}}</span><br>
                                                        <span class="price-strike">Ksh {{formatPrice((books.amount * 20/100)+ +books.amount)}}</span>
                                                    </div>
                                                </div>


                                            </div><!-- /.row -->
                                        </div><!-- /.price-container -->
                                        <form class="register-form" role="form">
                                            <div class="form-group">
                                                <label class="info-title" for="exampleInputEmail1">Enter M-pesa number <span>*</span></label>
                                                <input type="text" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                                            </div>
                                        </form>
                                        <div class="quantity-container info-container">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart inner-right-vs"></i> PROCEED</a>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.quantity-container -->






                                    </div><!-- /.product-info -->
                                </div><!-- /.col-sm-7 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div><hr>

    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{name:'',phone_address:'',email:''},
                books:{},
                loader:'false',
                name:'',
                user_type:'',
                auth:'',
                email:'',
                phone:'',
            }
        },
        created(){
            this.message.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.message.email=localStorage.getItem('email');
            this.message.phone_address=localStorage.getItem('phone');
            this.getBooksById();
        },
        methods: {
            checkAuth(){
                if (this.auth==='yes'){

                }else{
                    $("#loginmodal").modal("show");
                }
            },
            getBooksById() {
                this.loader='true';
                let uri =this.proxyUrl+`getBooksByIdCheckout/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.loader='false';
                    this.books=response.data.books[0];
                }).catch(error => {
                    this.loader='false';
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
