<template>
    <section id="portfolio" class="portfolio mt-3">
        <div class="container">
            <div class="card2">

                <Menu></Menu>
                <!-- ======= Counts Section ======= -->
                <section id="counts" class="counts ">
                    <div class="container">
                        <div class="row ">

                            <div class="col-sm-12">
                                <div class="count-box">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Order No</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Payment Ref</th>
                                                <th>Download</th>
                                                <th>Title</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(data,index) in pageOfItems">
                                                <td>{{index+1}}</td>
                                                <td>{{data.order_no}}</td>
                                                <td>Ksh {{formatPrice(data.amount)}}</td>
                                                <td>{{data.status}}</td>
                                                <td>{{data.payment_ref}}</td>
                                                <td><a  v-on:click="showModal(data.book_id)"><i class="fa fa-download"></i></a> </td>
                                                <td>{{data.title}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="orders" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </section><!-- End Counts Section -->


            </div>

        </div>
        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-download text-success2"></i></h5>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in files">
                                    <td>{{index+1}}</td>
                                    <td>{{data.url}}</td>
                                    <td><a :href="MIX_APP_File+'/storage/Books/'+data.url" target="_blank"><i class="fa fa-download"></i></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeModal()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    const customStyles = {
        a: {
            color: '#e96b56',
        },
    };
    import  Menu from '../view/Menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                customStyles,
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                orders:[],
                pageOfItems:[],
                files:[],
            }
        },
        created(){
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            closeModal(){
                $("#cart").modal("hide");
            },
            showModal(id){
                this.message.book_id=id;
                $('.count-box').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getFiles`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.count-box').loader('hide');
                    this.files=response.data.files;
                    $("#cart").modal("show");
                }).catch(error => {
                    $('.count-box').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });


            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getData() {
                $('.count-box').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`downloads`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.count-box').loader('hide');
                    this.orders=response.data.orders;
                    this.MIX_APP_File=response.data.MIX_APP_File;
                }).catch(error => {
                    $('.count-box').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
