<template>
    <section id="portfolio" class="portfolio mt-3">
        <div class="container">
            <div class="card2">

                <Menu></Menu>


                <div class="row justify-content-center">
                    <div class="col-sm-8">

                        <section id="contact" class="contact">
                            <form action="#" method="post" role="form" class="php-email-form" v-on:submit.prevent="stkPush()">
                        <div id="invoice" class="border">

                            <div class="invoice overflow-auto">
                                <div class="toolbar hidden-print">
                                    <p>Scroll to bottom to make payment</p>
                                    <!--<div class="d-flex">-->
                                        <!--<button id="printInvoice" class="btn btn-info mr-5"><i class="fa fa-print"></i> Print</button>-->
                                        <!--<button  class="btn btn-warning"><i class="fa fa-dollar-sign"></i> Make payment</button>-->
                                    <!--</div>-->

                                </div>
                                <div >
                                    <header>
                                        <div class="row">
                                            <!--<div class="col">-->
                                                <!--<a target="_blank" href="#">-->
                                                    <!--<img src="/images/logo2.png" data-holder-rendered="true" />-->
                                                <!--</a>-->
                                            <!--</div>-->
                                            <div class="col company-details">
                                                <h2 class="name">
                                                    <a target="_blank" href="https://lobianijs.com">
                                                        {{order.order_no}}
                                                    </a>
                                                </h2>
                                            </div>
                                        </div>
                                    </header>
                                    <main>
                                        <div class="row contacts">
                                            <div class="col invoice-to">
                                                <div class="text-gray-light">INVOICE TO:</div>
                                                <h2 class="to">{{user.name}}</h2>
                                                <div class="email"><a href="mailto:john@example.com">{{user.email}}</a></div>
                                            </div>
                                            <div class="col invoice-details">
                                                <h1 class="invoice-id">Ksh {{formatPrice(total)}}</h1>
                                                <div class="date">Date of Invoice: {{order.created_at}}</div>
                                            </div>
                                        </div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="text-left">Titlele</th>
                                                <th class="text-right">Amount</th>
                                                <th class="text-right">Q</th>
                                                <th class="text-right">TOTAL</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr v-for="(data,index) in records">
                                                <td class="no">{{index+1}}</td>
                                                <td class="text-left"><h3>{{data.title}}</h3></td>
                                                <td class="unit">Ksh {{formatPrice(data.amount)}}</td>
                                                <td class="qty">1</td>
                                                <td class="total">Ksh {{formatPrice(data.amount)}}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">SUBTOTAL</td>
                                                <td>Ksh {{formatPrice(total)}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">TAX </td>
                                                <td>00.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">GRAND TOTAL</td>
                                                <td>Ksh {{formatPrice(total)}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <div v-if="order.status==='PENDING'" class="thanks text-danger">{{order.status}}! </div>
                                        <div v-if="order.status==='PAID'" class="thanks text-success">{{order.status}}! <i class="fa fa-check"></i></div>
                                        <!--<div class="notices">-->
                                            <!--<div>NOTICE:</div>-->
                                            <!--<div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>-->
                                        <!--</div>-->
                                        <div class="row mt-5" v-if="order.status==='PAID'">
                                            <div class="text-center"><router-link :to="{name:'downloads'}" class="btn btn-warning" >Download<i class="fa fa-download ml-5"></i></router-link></div>
                                        </div>
                                    </main>

                                    <div v-if="order.status==='PENDING'" >
                                        <div class="container">
                                        <div class="row justify-content-center">
                                            <label class=" col-sm-3" v-on:click="switchPage('yes')">
                                                <input type="radio" name="test" value="small" checked>
                                                <img src="/assets/payments/mpesa.png" style="width: 70px;">
                                            </label>

                                            <label class=" col-sm-3" v-on:click="switchPage('no')">
                                                <input type="radio" name="test" value="big">
                                                <img src="/assets/payments/4.png" style="width: 70px;">
                                            </label>
                                            <label class=" col-sm-3" v-on:click="switchPage('no')">
                                                <input type="radio" name="test" value="big">
                                                <img src="/assets/payments/3.png" style="width: 70px;">
                                            </label>
                                            <label class=" col-sm-3" v-on:click="switchPage('no')">
                                                <input type="radio" name="test" value="big">
                                                <img src="/assets/payments/1.png" style="width: 70px;">
                                            </label>
                                        </div>
                                        </div>


                                    <div class="row justify-content-center" >
                                        <div class="col-sm-8" v-if="showPage==='yes'">
                                                <div class="form-group mt-3">
                                                    <label>Enter m-pesa phone no. to make direct payment</label>
                                                    <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                                </div>
                                            <div class="row mt-5" v-if="showAlert==='true'">
                                                <div class="alert alert-success" role="alert">
                                                    <h4 class="alert-heading">Success!</h4>
                                                    <p>An STK has been pushed to your phone <span>{{message.phone}}</span>.Enter M-pesa Pin to proceed</p>
                                                    <p>System trying to detect payment.Please wait....... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                                     <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                                </div>
                                            </div>
                                                <div class="row mt-5">
                                                 <button type="submit"  class="btn btn-warning btn-block">Make payment</button>
                                                </div>
                                            <h6 class="text-center mt-5">_________OR___________</h6>
                                            <li>Got to Mpesa menu</li>
                                            <li>Lipa na M-pesa</li>
                                            <li>Paybill</li>
                                            <li>Enter paybill no <span class="text-success2">8014705</span></li>
                                            <li>Enter account no <span class="text-success2">{{order.order_no}}</span></li>
                                            <li>Enter amount <span class="text-success2">{{formatPrice(total)}}</span></li>
                                            <li>Enter M-pesa Pin and send</li>
                                            <li>Wait for M-pesa confirmation and <a href="#" class="text-success2" v-on:click="getData()">click here...</a></li>
                                        </div>
                                        <div class="col-sm-8" v-if="showPage==='no'">
                                            <h6>Coming soon.....</h6>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                <div></div>
                            </div>
                        </div>
                            </form>
                        </section>

                    </div>
                </div>

            </div>
        </div>
    </section>
</template>
<script>
    import  Menu from '../view/Menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                message:{},
                showPage:'yes',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                user:{},
                order:{},
                records:[],
                total:'0',
                showAlert:'false',
            }
        },
        created(){

            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            switchPage(val){
                this.showPage=val;
            },
            stkPush(){
                $('.card2').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`initiateSTK/${this.$route.params.id}`;
                // let uri =this.proxyUrl+`simulateC2B`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.ResponseMessage, type: 'success', position: 'top'});
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                        this.showAlert='true';
                        this.interval = setInterval(() => this.checkStkPayment(), 3000);
                    }else{
                        this.$toast.open({message: response.data.ResponseMessage, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card2').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            checkStkPayment(){
                let uri =this.proxyUrl+`checkStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        location.reload();
                    }
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getData(){
                $('.card2').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getOrder/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    this.user=response.data.user;
                    this.order=response.data.order;
                    this.records=response.data.records;
                    this.total=response.data.total;
                }).catch(error => {
                    $('.card2').loader('hide');
                    this.loader='false';
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            reloadpage(){
                location.reload();
            }

        },
    }

</script>
