<template>
    <section id="portfolio" class="portfolio mt-3">
        <div class="container">
            <div class="card2">

                <Menu></Menu>
                <!-- ======= Counts Section ======= -->
                <section id="counts" class="counts ">
                    <div class="container">
                        <div class="row ">

                            <div class="col-sm-12">
                                <div class="count-box">
                                    <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order No</th>
                                            <th>Amount</th>
                                            <th>Items</th>
                                            <th>Status</th>
                                            <th>Payment method</th>
                                            <th>Payment Ref</th>
                                            <th>Pay</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in pageOfItems">
                                            <td>{{index+1}}</td>
                                            <td>{{data.order_no}}</td>
                                            <td>Ksh {{formatPrice(data.total)}}</td>
                                            <td>{{data.items}}</td>
                                            <td class="text-danger" v-if="data.status==='PENDING'">{{data.status}}</td>
                                            <td class="text-success" v-if="data.status==='PAID'">{{data.status}}</td>
                                            <td>{{data.payment_method}}</td>
                                            <td>{{data.trans_id}}</td>
                                            <td><router-link :to="{name:'invoice',params: { id: data.id }}" href="#"><i class="fa fa-edit"></i></router-link> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="orders" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </section><!-- End Counts Section -->


            </div>

        </div>

    </section>
</template>
<script>
    const customStyles = {
        a: {
            color: '#e96b56',
        },
    };
    import  Menu from '../view/Menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                customStyles,
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                orders:[],
                pageOfItems:[]
            }
        },
        created(){
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getData() {
                $('.count-box').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`orders`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.count-box').loader('hide');
                    this.orders=response.data.orders;
                }).catch(error => {
                    $('.count-box').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
