<template>
    <div class="tg">


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="card2">

                        <section id="portfolio" class="portfolio mt-3">
                            <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-3 mb-3">
                                <div class="form-group ">
                                    <select class="" id="exampleFormControlSelect1" v-on:change="getBooksByCategory()" v-model="message.id">
                                        <option disabled="disabled" selected="selected">Select category</option>
                                        <option v-for="cat in category" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3  mb-3">
                                <div class="form-group ">
                                    <select class="" id="exampleFormControlSelect1" v-on:change="getBooksByLevel()" v-model="message.darasa_id">
                                        <option disabled="disabled" selected="selected">Select level</option>
                                        <option v-for="cat in level" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3  mb-3">
                                <div class="form-group ">
                                    <select class="" id="exampleFormControlSelect1" v-on:change="getBooksBySubject()" v-model="message.subject_id">
                                        <option disabled="disabled" selected="selected">Select subject</option>
                                        <option v-for="cat in subjects" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="sidebar-item search-form">
                                    <form action="">
                                        <input type="text" placeholder="Filter by title or level" v-model="message.filterval" v-on:keyup="filter()">
                                        <button type="button"><i class="bi bi-filter"></i></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                            </div>

                <div class="row " >

                    <p class="text-center" v-if="books.length<=0">*No items available for this category*</p>
                    <div class="col-sm-3    align-items-stretch  mt-md-0 mb-3" v-for="data in pageOfItems">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h5><a href="#">{{data.title}}</a></h5>
                            <p>{{data.description}}</p>
                            <p>::{{data.level}}</p>
                            <h6>Ksh <span class="text-success">{{formatPrice(data.amount)}}</span>   <del>Ksh {{formatPrice((data.amount * 30/100)+ +data.amount)}}</del></h6><hr>
                            <div class="justify-content-center cart-div">
                                <!--<div class="col-sm-6">-->
                                    <a class="btn btn-warning  btn-block addtocart" v-on:click="addTocart(data.title,data.amount,data.id)"><i class="fa fa-shopping-cart"></i></a>
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                    </div>

                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <jw-pagination :items="books" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                                </div>
                            </div>
                        </section>


                </div>

            </div>
        </section><!-- End Services Section -->
    </div>
</template>
<script>
    const customStyles = {
        a: {
            color: '#e96b56',
        },
    };
    export default {
        name: 'App',
        data(){
            return {
                customStyles,
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:[],
                books2:[],
                category:[],
                subjects:[],
                loader:'false',
                cart:[],
                level:[],
                pageOfItems: [],
            }
        },
        created(){

            setTimeout(() => {
                this.getBooksAll();
            }, 1000);
        },
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            addTocart(title,amount,id){
                this.cart=JSON.parse(localStorage.getItem('cart'));
                if(this.cart==null){
                    this.cart=[];
                }
                if(this.cart.some(person => person.id ===id)){
                    this.$toast.open({message: 'Item already exist in your cart', type: 'warning', position: 'top'});
                } else{
                    var item =({'title':title, 'amount':amount, 'id':id});
                    this.cart.push(item);
                    localStorage.setItem('cart',JSON.stringify(this.cart));
                    addToCart(this.cart.length);
                    this.$toast.open({message: 'Item Added to cart successfully', type: 'info', position: 'top'});
                }
            },
            getBooksAll() {
                $('.card2').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getBooksAll`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    this.books=response.data.books;
                    this.category=response.data.category;
                    this.books2=response.data.books;
                }).catch(error => {
                    $('.card2').loader('hide');
                    this.loader='false';
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksBySubject() {
                $('.card2').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.loader='true';
                let uri =this.proxyUrl+`getBooksBySubject/${this.message.subject_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    this.books=response.data.books;
                    this.books2=response.data.books;
                }).catch(error => {
                    $('.card2').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksByCategory() {
                $('.card2').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.loader='true';
                let uri =this.proxyUrl+`getBooksByCategory/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    this.loader='false';
                    this.books=response.data.books;
                    this.subjects=response.data.subjects;
                    this.level=response.data.level;
                    this.books2=response.data.books;
                }).catch(error => {
                    $('.card2').loader('hide');
                    this.loader='false';
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksByLevel() {
                $('.card2').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getBooksByLevel`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card2').loader('hide');
                    this.books=response.data.books;
                    this.books2=response.data.books;
                }).catch(error => {
                    $('.card2').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                   this.books=this.books2;
                }else{
                    let books =  this.books2.filter(function(product) {
                        return product.title.toLowerCase().includes(filterval.toLowerCase()) || product.level.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.books=books;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
