<template>
<div>
    <div class="body-content outer-top-xs">
        <div class='container'>
            <div class='row single-product justify-content-center'>

    <div class='col-md-12'>
        <div class="detail-block">
            <div class="row  ">
                <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                    <div class="product-item-holder size-big single-product-gallery small-gallery">

                        <div id="owl-single-product">
                            <div class="single-product-gallery-item" id="slide1">
                                <a data-lightbox="image-1" data-title="Gallery" href="/images/services/product.jpg">
                                    <img class="img-responsive" alt="" src="/images/services/product.jpg" data-echo="/images/services/product.jpg" />
                                </a>
                            </div><!-- /.single-product-gallery-item -->

                        </div><!-- /.single-product-slider -->


                    </div><!-- /.single-product-gallery -->
                </div><!-- /.gallery-holder -->
                <div class='col-sm-6 col-md-7 product-info-block'>
                    <div class="product-info">
                        <h1 class="name">{{books.title}}</h1>

                        <div class="rating-reviews m-t-20">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="rating rateit-small"></div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="reviews">
                                        <a href="#" class="lnk">(13 Reviews)</a>
                                    </div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.rating-reviews -->

                        <div class="stock-container info-container m-t-10">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="stock-box">
                                        <span class="label">Availability :</span>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="stock-box">
                                        <span class="value">In Stock</span>
                                    </div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.stock-container -->

                        <div class="description-container m-t-20">
                         {{books.description}}
                        </div><!-- /.description-container -->

                        <div class="price-container info-container m-t-20">
                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="price-box">
                                        <span class="price">Ksh {{formatPrice(books.amount)}}</span><br>
                                        <span class="price-strike">Ksh {{formatPrice((books.amount * 20/100)+ +books.amount)}}</span>
                                    </div>
                                </div>


                            </div><!-- /.row -->
                        </div><!-- /.price-container -->

                        <div class="quantity-container info-container">
                            <div class="row">

                                <div class="col-sm-6">
                                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart inner-right-vs"></i> ADD TO CART</a>
                                </div>

                                <div class="col-sm-6">
                                    <a  v-on:click="checkAuth()" href="#" class="btn btn-primary"><i class="fa fa-download inner-right-vs"></i> Download</a>
                                </div>


                            </div><!-- /.row -->
                        </div><!-- /.quantity-container -->






                    </div><!-- /.product-info -->
                </div><!-- /.col-sm-7 -->
            </div><!-- /.row -->
        </div>
    </div>
            </div>
        </div>
    </div><hr>

    <!--!-- Modal HTML &ndash;&gt;-->
    <div id="loginmodal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form v-on:submit.prevent="login()" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">You are not logged in, please login or create account to proceed</p>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" v-model="message.email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label>Password</label>
                                <a href="#" class="float-right text-muted"><small>Forgot?</small></a>
                            </div>

                            <input type="password" v-model="message.password" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <label class="form-check-label"><input type="checkbox"> Remember me</label>
                        <button type="submit" class="btn btn-success submitbtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:{},
                loader:'false',
                name:'',
                user_type:'',
                auth:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.getBooksById();
        },
        methods: {
            checkAuth(){
                if (this.auth==='yes'){
                    this.$router.push({name: 'checkoutsingle',params:this.books.id});
                }else{
                    $("#loginmodal").modal("show");
                }
            },
            login() {
                loadbutton();
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        if(response.data.user.status==='unapproved'){
                            this.$notify({group: 'foo', text: 'Your account has not been approved', type: 'warn', title: 'warn'});
                            this.showMessage='yes';
                        }else if(response.data.user.status==='Inactive'){
                            this.$notify({group: 'foo', text: 'Unauthorized access', type: 'warn', title: 'Unauthorized'});
                        }else {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('email', response.data.user.email);
                            this.$notify({group: 'foo', text: 'Success signup', type: 'success', title: 'success'});
                            $("#loginmodal").modal("hide");
                            this.$router.push({name: 'checkoutsingle',params:this.books.id});
                        }
                        // this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    stopbutton();
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    localStorage.removeItem('token')
                });

            },
            getBooksById() {
                this.loader='true';
                let uri =this.proxyUrl+`getBooksById/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.loader='false';
                    this.books=response.data.books[0];
                }).catch(error => {
                    this.loader='false';
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
