<template>
    <section id="portfolio" class="portfolio mt-3">
        <div class="container">
            <div class="card2">
                <Menu></Menu>

                                    <section id="contact" class="contact mt-5">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6">
                                            <form action="#" method="post" role="form" class="php-email-form " v-on:submit.prevent="upload()" enctype="multipart/form-data">
                                                <h5>Upload an item, books, paper, exams etc</h5><hr>
                                        <div class="form-group">
                                            <label  for="exampleInputEmail1">Title of your item </label>
                                            <input type="text" v-model="message.title" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label class="info-title" for="exampleInputEmail1">Category </label>
                                            <select class="form-control" required v-model="message.category_id" v-on:change="loadSubjects()">
                                                <option disabled selected>Select category of your item</option>
                                                <option v-for="data in category " :key="data.id" v-bind:value="data.id" >{{data.name}} </option>
                                            </select>
                                        </div>
                                                <div class="form-group mt-3">
                                                    <label class="info-title" for="exampleInputEmail1">Class or level(* if your level does not appear, contact edubora*) </label>
                                                    <select class="form-control" required v-model="message.darasa_id" >
                                                        <option disabled selected>Select subject of your item</option>
                                                        <option v-for="data in darasa " :key="data.id" v-bind:value="data.id" >{{data.name}} </option>
                                                    </select>
                                                </div>
                                        <div class="form-group mt-3">
                                            <label class="info-title" for="exampleInputEmail1">Subject(* if your subject does not appear, contact edubora*) </label>
                                            <select class="form-control" required v-model="message.subject_id" >
                                                <option disabled selected>Select subject of your item</option>
                                                <option v-for="data in subjects " :key="data.id" v-bind:value="data.id" >{{data.name}} </option>
                                            </select>
                                        </div>

                                                <div class="form-group mt-3">
                                                    <label class="info-title" for="exampleInputEmail1">Item type </label>
                                                    <select class="form-control" required v-model="message.level" >
                                                        <option disabled selected>Select item type</option>
                                                        <option >Revision papers & Answers </option>
                                                        <option >Notes & Books </option>
                                                        <option >Topical questions & answers</option>
                                                    </select>
                                                </div>

                                        <div class="form-group mt-3">
                                            <label class="info-title" for="exampleInputEmail1">Amount in Ksh. </label>
                                            <input type="number" v-model="message.amount" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group mt-3">
                                            <label class="info-title" for="exampleInputEmail1">Files(PDF) You may upload many files </label>
                                            <input type="file"  v-on:change="onFileChange" class="form-control unicase-form-control text-input" id="exampleInputEmail1"  required multiple="multiple">
                                        </div>

                                                <div class="col-lg-12 border">
                                                    <tbody>
                                                    <tr v-for="post in attachments" :key="post.id">
                                                        <td class="text-primary">{{post.name}}</td>
                                                        <td ><a class="fa fa-trash text-danger ml-5" @click="removeItem(post.name)"></a></td>
                                                    </tr>
                                                    </tbody>
                                                </div>
                                                <hr>

                                                <div class="form-group mt-3">
                                                    <label class="info-title" for="exampleInputEmail1">Description </label>
                                                    <textarea class="form-control" name="message" rows="5" v-model="message.description" placeholder="Describe about your item,helps in marketing" required></textarea>
                                                </div>
                                        <div class="alert alert-danger" role="alert" v-if="showMessage==='yes'">
                                            <h4 class="alert-heading">Sorry!</h4>
                                            <p>{{error}}.Ensure your file is PDf</p>
                                        </div>
                                                <div class="form-group form-check mt-3 mb-3">
                                                    <input type="checkbox" class="form-check-input mr-5" id="exampleCheck1" required>
                                                    <label class="form-check-label" for="exampleCheck1"><a  href="/terms.pdf">   I agree to the terms and conditions</a></label>
                                                </div>
                                        <div class="row mt-5">
                                           <button class="btn btn-warning btn-blockgit stat" type="submit">Upload</button>
                                        </div>
                                    </form>
                                        </div>
                                    </div>
                                    </section>
                                </div>
                            </div>


    </section>
</template>
<script>
    import  Menu from '../view/Menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                category:[],
                subjects:[],
                darasa:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                attachments:[],
            }
        },
        created(){
            this.getData();
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
        },
        methods: {
            removeItem(name){
                this.attachments.splice(this.attachments.indexOf(name), 1);
                this.$toast.open({message: 'Item removed successfully', type: 'info', position: 'top'});
            },
            onFileChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    this.attachments.push(files[i]);
                }
            },
           upload(){
               $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
               let formData = new FormData();
               formData.append('title',this.message.title);
               formData.append('description',this.message.description);
               formData.append('description',this.message.description);
               formData.append('amount',this.message.amount);
               formData.append('category_id',this.message.category_id);
               formData.append('subject_id',this.message.subject_id);
               formData.append('level',this.message.level);
                formData.append('darasa_id',this.message.darasa_id);
               for(let i=0; i<this.attachments.length;i++){
                   formData.append('files[]',this.attachments[i]);
               }
               let uri =this.proxyUrl+`books`;
               this.axios.post(uri,formData,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   $('.php-email-form').loader('hide');
                   if(response.data.status){
                       this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                       this.message={};
                       this.attachments=[];
                   }else{
                       this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                   }
               }).catch(error => {
                   $('.php-email-form').loader('hide');
                   this.error=error.response.data.message;
                   this.showMessage='yes';
                   if (error.response.status === 401) {
                       this.$router.push({name: 'login'});
                       clearSession();
                   }else{
                       this.$toast.open({message: 'Something went wrong, ensure your file is PDF!', type: 'error', position: 'top'});
                   }
               });
           },
            loadSubjects(){
                $('.php-email-form').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getCategorySubjects`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.subjects=response.data.subjects;
                    this.darasa=response.data.darasa;
                    $('.php-email-form').loader('hide');
                }).catch(error => {
                    $('.php-email-form').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getData() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },

        },
    }

</script>
